<div class="panel-main" *ngIf="setVisibl">
    <div class="header">

        <form class="form-for">
            <div class="first-half">
                <label>Product Group</label>
                <label>Quality Name</label>
                <label>Style Name</label>
                <label>SizeGroup</label>
                <label>Size</label>
                <label>ProductCode</label>
                <label>ProductName</label>
                <label>ShortName</label>
                <label>BrandName</label>


            </div>
            <div class="first-half-entry">

                <select class="form-select" #proGroup>
                    <option *ngFor="let item of productGroup" value={{item.productgroupcode}}> {{item.productgroupname}}
                    </option>
                </select>


                <select class="form-select" >
                    <option *ngFor="let item of quality" value={{item.qualitycode}}> {{item.qualityname}}
                    </option>
                </select>


                <select class="form-select">
                    <option *ngFor="let item of style" value={{item.stylecode}}> {{item.stylename}}
                    </option>
                </select>


                <select class="form-select">
                    <option *ngFor="let item of sizegroup" value={{item.sizegroupcode}}> {{item.sizegroupname}}
                    </option>
                </select>


                <select class="form-select">
                    <option *ngFor="let item of size" value={{item.sizecode}}> {{item.sizename}}
                    </option>
                </select>

                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">

                <select class="form-select">
                    <option>BrandName</option>
                </select>
            </div>

            <div class="second-half">
                <label>OrderLevel</label>
                <label>PricePerPack</label>
                <label>M.R.P.Rate</label>
                <label>SellingRate</label>
                <label>PurchaseRate</label>
                <label>Taxable</label>
                <label>AllowDisc</label>
                <label>HsnCode</label>
                <label>Narration</label>
            </div>

            <div class="second-half-entry">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <select class="form-select">
                    <option>ProductGroup</option>
                </select>

                <select class="form-select">
                    <option>ProductGroup</option>
                </select>

                <select class="form-select">
                    <option>ProductGroup</option>
                </select>


                <input type="text" class="form-control">

            </div>

        </form>
    </div>

    <div class="btn-for-form">
        <button class="btn btn-primary" (click)="changeFoc()">Add</button>
        <button class="btn btn-primary" (click)="changeFoc()" disabled="true">View</button>
        <button class="btn btn-primary" (click)="changeFoc()" disabled="true">Edit</button>
        <button class="btn btn-primary" (click)="changeFoc()">Clear</button>
        <button class="btn btn-primary" onclick="window.location.href='/panelmain'">Close</button>
    </div>

</div>
<div *ngIf="!setVisibl">
    <h1 style="background-color: white;text-align: center;">Invalid Login Credentials</h1>
</div>