<div class="panel-main" *ngIf="setVisibl">
    <div class="header">

        <form class="form-for" [formGroup]="productForm">
            <div class="first-half">
                <label>Product Group</label>
                <label>Quality Name</label>
                <label>Style Name</label>
                <label>SizeGroup</label>
                <label>Size</label>
                <label>ProductCode</label>
                <label>ProductName</label>
                <label>ShortName</label>
                <label>BrandName</label>


            </div>
            <div class="first-half-entry">

                <select class="form-select" #proGroup formControlName="productgroupcode">
                    <option *ngFor="let item of productGroup" [value]="item.productgroupcode">{{item.productgroupname}}
                    </option>
                </select>


                <select class="form-select" formControlName="qualitycode">
                    <option *ngFor="let item of quality" [value]=item.qualitycode> {{item.qualityname}}
                    </option>
                </select>


                <select class="form-select" formControlName="stylecode">
                    <option *ngFor="let item of style" [value]=item.stylecode> {{item.stylename}}
                    </option>
                </select>


                <select class="form-select" formControlName="sizegroupcode">
                    <option *ngFor="let item of sizegroup" [value]=item.sizegroupcode> {{item.sizegroupname}}
                    </option>
                </select>


                <select class="form-select" formControlName="sizecode">
                    <option *ngFor="let item of size" [value]=item.sizecode> {{item.sizename}}
                    </option>
                </select>

                <input type="text" class="form-control" formControlName="productcode">
                <input type="text" class="form-control" formControlName="productname">
                <input type="text" class="form-control" formControlName="shortname">

                <select class="form-select" formControlName="brandcode">
                    <option *ngFor="let item of brand" [value]="item.brandcode">
                        {{item.brandname}}</option>
                </select>
            </div>

            <div class="second-half">
                <label>OrderLevel</label>
                <label>PricePerPack</label>
                <label>M.R.P.Rate</label>
                <label>SellingRate</label>
                <label>PurchaseRate</label>
                <label>Taxable</label>
                <label>AllowDisc</label>
                <label>HsnCode</label>
                <label>Narration</label>
            </div>

            <div class="second-half-entry">
                <input type="text" class="form-control" formControlName="orderlevel">

               
                <input type="text" class="form-control" formControlName="pieceperpack">
                <input type="text" class="form-control" formControlName="mrprate">
                <input type="text" class="form-control" formControlName="sellingrate">
                <input type="text" class="form-control" formControlName="purchaserate">
                <select class="form-select" style="width: 10vw;" formControlName="taxable">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

                <select class="form-select" formControlName="allowdisc">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

                <select class="form-select" formControlName="hsncode">
                    <option *ngFor="let item of hsn" [value]="item.hsncode" [selected]="item.hsncode== hsn[1].hsncode">
                        {{item.hsndescription}}</option>
                </select>

                <input type="text" class="form-control">

            </div>

        </form>
    </div>

    <div class="btn-for-form">
        <button class="btn btn-primary" (click)="changeFoc()">Add</button>
        <button class="btn btn-primary" (click)="saveData()">Save</button>
        <button class="btn btn-primary" (click)="changeFoc()" disabled="true">View</button>
        <button class="btn btn-primary" (click)="changeFoc()" disabled="true">Edit</button>
        <button class="btn btn-primary" (click)="changeFoc()">Clear</button>
        <button class="btn btn-primary" onclick="window.location.href='/panelmain'">Close</button>
    </div>

</div>
<div *ngIf="!setVisibl">
    <h1 style="background-color: white;text-align: center;">Invalid Login Credentials</h1>
</div>