.main-layout {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    padding-top: 12vh;
    padding-left: 30vw;
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
}

.box-main {
    display: flex;
    flex-direction: column;
    border: 2px outset black;
    width: 30vw;
    height: 50vh;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

.box-main mat-form-field {
    margin: 20px;
    border-radius: 10px;
}

.box-main button {
    width: 76%;
    margin-left: 10%;

}